<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mission</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <section>
      <div>
        <label for="url">URL</label>
        <input type="text" id="url" />
      </div>

      <div>
        <label for="type">Type</label>
        <select name="type" id="type">
          <option value="0" selected>HTML 태그 제외</option>
          <option value="1">Text 전체</option>
        </select>
      </div>

      <div>
        <label for="unit">출력묶음단위 (자연수)</label>
        <input type="number" id="unit" value="0" />
      </div>

      <div><button onclick="handlePrint()">출력</button></div>

      <div class="result">
        <div>
          <label for="quotient">몫:</label>
          <span id="quotient"></span>
        </div>
        <div>
          <label for="remainder">나머지:</label>
          <span id="remainder"></span>
        </div>
      </div>
    </section>
  </body>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    const $inputURL = document.getElementById('url');
    const $selectType = document.getElementById('type');
    const $inputUnit = document.getElementById('unit');
    const $quotient = document.getElementById('quotient');
    const $remainder = document.getElementById('remainder');

    const handlePrint = () => {
      const url = $inputURL.value;
      const type = $selectType.value;
      const unit = $inputUnit.value;
      const data = { url, type, unit };
      axios
        .post('/api/url', data)
        .then(res => {
          const data = res.data;
          $quotient.innerText = data.quotient;
          $remainder.innerText = data.remainder;
        })
        .catch(error => console.log(error));
    };
  </script>
</html>
